<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse et, qui dolore iure ipsam minus asperiores iste praesentium pariatur aperiam commodi modi in, temporibus ratione! Odit optio ab dolores quae.lorem Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Inventore unde enim odit cumque reiciendis ut, eos impedit repellendus dolores laudantium expedita quia! Tenetur provident ipsam excepturi unde minus iste aspernatur.
</p>